body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3 {
  margin: 0;
}

section {
  padding: 94px 0;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--primary {
  background-color: #2196f3;
  color: #ffffff;
}
.button--primary:hover {
  background-color: rgb(12.0615384615, 129.6615384615, 223.1384615385);
}
.button--secondary {
  background-color: #2196f3;
  color: #ffffff;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #212121;
}
.logo__accent {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  height: 80px;
}
.header__nav {
  margin-left: 90px;
}
.header__contacts {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.contacts__link {
  color: #757575;
  text-decoration: none;
}
.contacts__link:hover {
  color: #2196f3;
}

.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.webp") center/cover no-repeat;
  text-align: center;
  padding: 200px 0;
}
.hero__title {
  font-size: 44px;
  max-width: 700px;
  margin: 0 auto 30px;
}

.work__title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}
.work__gallery {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}

.team {
  background-color: #f5f4fa;
}
.team__title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  gap: 30px;
}

.team-card {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 30px;
}
.team-card__name {
  margin-top: 30px;
  font-size: 16px;
}
.team-card__role {
  color: #757575;
  margin-bottom: 16px;
}

.clients__title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  gap: 30px;
}
.clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover {
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0;
}
.footer__container {
  display: flex;
  gap: 70px;
}
.footer__contact {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.subscribe {
  display: flex;
  gap: 12px;
}
.subscribe__input {
  padding: 15px;
  width: 358px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
}