.hero {
  background: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.webp") center / cover no-repeat;

  text-align: center;
  padding: 200px 0;

  &__title {
    font-size: 44px;
    max-width: 700px;
    margin: 0 auto 30px;
  }
}
