.work {
  &__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }

  &__gallery {
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px;
    background: rgba(47, 48, 58, 0.8);
    color: $white;
    text-align: center;
    font-weight: 700;
  }
}
