body {
  font-family: "Roboto", sans-serif;
  color: $dark;
  background-color: $white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3 {
  margin: 0;
}

section {
  padding: 94px 0;
}
